body{
    font-family: 'Roboto', sans-serif;}
body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
@font-face {
    font-family: Roboto;
     src: url("asseassets\fonts\Roboto-Black.ttf");}

.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
html {
    scroll-behavior: smooth; 
  }
.header {border: 1px solid red;}
* {
    box-sizing: border-box;
  }
  .container {
    max-width: 1440px;
    margin: 0 auto;
  }
  .nav-list {
    list-style: none;
  }